.container {
	width: 1129px;
	margin-left: auto;
	margin-right: auto;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

@keyframes shake {
	0%, 100%                { transform: translateX(0);     }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

/*=======  main-header  =======*/

.main-header-top {
	background-color: #000;
}

.main-header-top .logo {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
}

.main-header-top .menu-list {
	list-style: none;

	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.main-header-top .menu-list .menu-item {
	display: inline-block;
	margin-left: 48px;
}

.main-header-top .menu-item a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: #c9c9c9;
	font-size: 14px;

	display: block;
	padding-top: 28px;
	padding-bottom: 28px;
}

.main-header-top .menu-item a:hover {
	color: #fff;
}

.main-header-content {
	background: #000 url("../img/header_bg.jpg") no-repeat center center;
	position: relative;
}

.main-header-content::before {
	content: "";

	display: block;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.5);
}

.main-header-content > .container {
	position: relative;
}

.main-header-content .logo-img {
	margin-top: 110px;
	margin-left: 5px;
}

.main-header-content .description {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;

	max-width: 520px;
	margin-left: 5px;
}

.main-header-content .description::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 40px;
	margin-left: 5px;

	background-color: #fff;
}

.main-header-content .some-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #919192;
	font-size: 16px;
	line-height: 23px;

	max-width: 470px;
	margin-left: 5px;
}

.download-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 15px;
	text-align: center;
	outline: none;

	width: 130px;
	height: 40px;
	margin-top: 20px;
	border: 2px solid #fff;

	background-color: transparent;
	cursor: pointer;
}

.download-btn:hover {
	color: #000;

	background-color: #fff;
}

.start-form {
	width: 360px;
	height: 362px;
	margin-right: 25px;
	margin-top: 140px;
	margin-bottom: 140px;
	border-radius: 5px;

	overflow: hidden;
}

/* 
	Хак для Safary.
	Неправильный расчет высоты блока. 
*/
body:last-child:not(:root:root) .start-form {
	height: 370px;
}

.start-form .form-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: #000;

	padding: 20px 0;

	background-color: #f5f5f5;
}

.start-form .form-description span.orange-letter {
	color: #ff8b38;
	text-transform: uppercase;
}

.start-form form {
	padding-top: 30px;

	background-color: #fff;
}

.start-form input,
.msg-form input,
.msg-form textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000;

	display: block;
	width: 255px;
	padding: 10px 13px;
	margin-bottom: 35px;
	margin-left: 40px;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	border-left: 1px solid #fbfbfb;
	border-right: 1px solid #fbfbfb;
}

.start-form input:focus,
.msg-form input:focus {
	outline: 2px solid #faac73;
}

.start-form input::-moz-placeholder,
.start-form input::-webkit-input-placeholder,
.msg-form input::-moz-placeholder,
.msg-form input::-webkit-input-placeholder {
	color: #bdbdbd;
}

.start-form input[type="submit"],
.msg-form input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #fff;

	width: 100%;
	margin: 0;
	padding: 18px 0;
	border-left: 1px solid #ff9b51;
	border-right: 1px solid #ff9b51;

	background-color: #ff9b51;
	cursor: pointer;
}

.start-form input[type="submit"]:hover,
.msg-form input[type="submit"]:hover {
	background-color: #faac73;
}

.start-form.form-error {
	-webkit-animation: shake 0.6s;
	-o-animation: shake 0.6s;
	animation: shake 0.6s;
}

.main-header-social {
	/*???*/
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 1);

	min-height: 105px;
}

.main-header-social h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #333;

	margin-left: 5px;
}

.main-header-social .some-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #a9aaac;

	max-width: 390px;
	margin-left: 5px;
}

.main-header-social .soc-icons-list {
	list-style: none;

	max-width: 660px;
	margin: 26px 0;
}

.main-header-social .soc-icons-item,
.main-footer .soc-icons-item {
	display: inline-block;
	margin-right: 50px;
}

.main-header-social .soc-icons-item:last-child,
.main-footer .soc-icons-item:last-child {
	margin-right: 0;
}

.main-header-social .soc-icons-item a {
	color: #dcdcdc;
	font-size: 50px;
}

.main-header-social .soc-icons-item a:hover,
.main-footer .soc-icons-item a:hover {
	color: #c2c1c1;
}

/*=======  features  =======*/

.features .presentation {
	background-color: #f5f5f5;
}

.features .presentation > div.container {
	position: relative;
}

.features .presentation > div.container::before {
	content: url("../img/city.png");

	position: absolute;
	right: 25px;
	top: 180px;
}

.presentation-slider {
	padding-top: 145px;
}

.presentation-slider-control {
	margin-right: 50px;
	margin-bottom: 100px;
}

.presentation-slider-control .tab {
	text-decoration: none;
	text-align: center;
	color: #fff;

	display: table;
	width: 110px;
	height: 110px;
	margin-bottom: 2px;
	border-radius: 5px;

	cursor: pointer;
}

.presentation-slider-control .tab div {
	display: table-cell;
	vertical-align: middle;
}

.presentation-slider-control .active {
	background-color: #ff8b38;
}

.presentation-slider-control .nonactive {
	background-color: #333;
}

.presentation-slider-content-list {
	list-style: none;
	margin-top: 0;
}

.presentation-slider-content-item {
	max-width: 500px;
}

.presentation-slider-content-item h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;

	margin-bottom: 55px;
}

.presentation-slider-content-item p {
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
	font-size: 14px;
	line-height: 20px;
}

.presentation-slider-content-item button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	outline: none;

	width: 120px;
	height: 45px;
	margin-top: 40px;
	border: none;
	border-radius: 5px;

	background-color: #ff8b38;
	cursor: pointer;
}

.presentation-slider-content-item button:hover {
	background-color: #faac73;
}

.presentation-slider-content-item.nonactive {
	display: none;
}

.sub-list-sect > img {
	padding-top: 95px;
}

.sub-list-sect .wrapper {
	max-width: 480px;
	padding-top: 70px;
}

.sub-list-sect .main-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 43px;
	color: #212121;
}

.sub-list-sect .main-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: 20px;

	background-color: #ff8b38;
}

.sub-list-sect .description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b;
}

.sub-list-sect .features-list {
	list-style: none;

	padding-left: 80px;
}

.sub-list-sect .features-item {
	position: relative;
}

.sub-list-sect .features-item h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #212121;

	margin-bottom: -5px;
}

.sub-list-sect .features-item i {
	font-size: 16px;
	color: #ff8b38;
	text-align: center;
	line-height: 35px;

	display: block;
	width: 36px;
	height: 36px;
	border: 2px solid #ff8b38;
	border-radius: 19px;

	position: absolute;
	left: -80px;
	top: 5px;
}

.pict-sect {
	background-color: #f5f5f5;
	padding-top: 70px;
}

.pict-sect .wrapper {
	max-width: 480px;
	margin-left: 5px;
}

.pict-sect .main-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 43px;
	color: #212121;
}

.pict-sect .main-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: 20px;

	background-color: #ff8b38;
}

.pict-sect .some-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b;
	margin-bottom: 25px;
}

/*=======  about  =======*/

.about {
	padding-top: 70px;
	padding-bottom: 80px;
}

.about-main-header {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 43px;
	text-transform: uppercase;
	text-align: center;
	color: #212121;
}

.about-main-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;

	background-color: #ff8b38;
}

.about-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b;
	text-align: center;
}

.about-features-list {
	text-align: center;

	padding: 0;
	padding-top: 160px;

	list-style: none;
}

.about-features-item {
	display: inline-block;
	max-width: 355px;
	margin-right: 15px;

	position: relative;
}

.about-features-item:last-child {
	margin-right: 0;
}

.about-features-item i {
	font-size: 32px;
	color: #ff8b38;
	text-align: center;
	line-height: 68px;

	display: block;
	width: 70px;
	height: 70px;
	border: 2px solid #ff8b38;
	border-radius: 36px;

	position: absolute;
	left: 140px;
	top: -100px;
}

.about-features-item .header {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #333;
}

.about-features-item .annotation {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #86878b;
}

/*=======  pricing  =======*/

.pricing {
	padding-top: 70px;
	padding-bottom: 80px;

	background-color: #f5f5f5;
}

.pricing-header {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
	text-align: center;
}

.pricing-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;

	background-color: #ff8b38;
}

.pricing-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b;
	text-align: center;

	margin-bottom: 65px;
}

.pricing-options,
.pricing-options .parameter-list {
	text-align: center;

	padding: 0;

	list-style: none;
}

.pricing-options > .option {
	display: inline-block;
	width: 340px;
	margin-right: 35px;
}

.pricing-options > .option:last-child {
	margin-right: 0;
}

.pricing-options .option-head {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #fff;

	display: block;
	padding-top: 15px;

	background-color: #333;
}

.pricing-options .option-head::after {
	content: "";

	display: block;
	height: 1px;
	margin-top: 15px;

	background-color: #f5f5f5;
}

.pricing-options .price {
	background-color: #333;
}

.pricing-options .price-value {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 94px;
	line-height: 24px;
	color: #fff;

	display: block;
	padding: 40px 0;
}

.pricing-options .price-value .dollar {
	font-size: 35px;
}

.pricing-options .price-period {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
	color: #adadad;

	display: block;
	padding-bottom: 15px;
}

.pricing-options .price::after {
	content: "";

	display: block;
	height: 5px;

	background-color: #ff8b38;
}

.pricing-options .price.exclusive-after::after {
	content: "Our most popular";

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 34px;
	text-transform: uppercase;
	color: #fff;

	display: block;
	height: 35px;

	background-color: #ff8b38;
}

.pricing-options .parameter-item {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #86878b;

	padding: 10px 0;
	border-bottom: 1px solid rgba(134, 135, 139, 0.1);

	background-color: #fff;
}

/*=======  reviews  =======*/

.reviews {
	padding-top: 70px;
	padding-bottom: 80px;
}

.reviews-header {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
	text-align: center;
}

.reviews-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;

	background-color: #ff8b38;
}

.reviews-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b;
	text-align: center;

	margin-bottom: 65px;
}

.comments-list {
	text-align: center;

	list-style: none;
}

.comments-list .comment {
	text-align: left;

	display: inline-block;
	width: 275px;
	padding-right: 110px;
}

.comments-list .comment:last-child {
	padding-right: 0;
}

.comments-list .comment-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;

	padding: 15px 10px 20px 10px;

	position: relative;

	background-color: #f5f5f5;
}

.comments-list .comment-content::after {
	content: "";

	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #f5f5f5;

	position: absolute;
	left: 20px;
	top: 115px;
}

.comments-list .author {
	padding-left: 85px;

	position: relative;
}

.comments-list .author::after {
	content: url("../img/comment_avatar.jpg");

	display: block;
	width: 70px;
	height: 70px;
	border-radius: 36px;

	position: absolute;
	left: -5px;
	top: -10px;

	overflow: hidden;
}

.comments-list .author .name {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #333;

	display: block;
	margin-top: 35px;
}

.comments-list .author .profession {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;

	display: block;
	margin-top: 5px;
}

/*=======  design  =======*/

.design {
	padding-top: 40px;
	padding-bottom: 45px;

	position: relative;

	background: #000 url("../img/design_bg.jpg") no-repeat center center;
}

.design::before {
	content: "";

	display: block;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.4);
}

.design > .container  {
	text-align: center;

	position: relative;
}

.design-header {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.design-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;

	background-color: #fff;
}

.design-description {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

/*=======  contact  =======*/

.contact {
	padding-top: 70px;
	padding-bottom: 80px;
}

.contact-header {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
	text-align: center;
	color: #212121;
}

.contact-header::after {
	content: "";

	display: block;
	width: 65px;
	height: 2px;
	margin-top: 15px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;

	background-color: #ff8b38;
}

.contact-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b;
	text-align: center;

	margin-bottom: 65px;
}

.msg-form {
	margin-left: 5px;
	margin-right: 5px;
}

.msg-form input {
	width: 520px;
	margin-left: 0;
	border-left: none;
	border-right: none;
}

.msg-form input[type="submit"] {
	outline: none;

	width: 150px;
	padding: 15px 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.msg-form textarea {
	line-height: 1.5;
	outline: none;
	
	display: block;
	height: 170px;
	width: 520px;
	padding: 5px 5px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	resize: none;
}

/*
Хак для Safary
Неправильный расчет высота textarea
*/
body:last-child:not(:root:root) .msg-form textarea { 
	height: 179px;
}

.msg-form textarea:focus {
	outline: 2px solid #faac73;
}

.msg-form .form-error {
	outline: 2px solid #ff0000;
}

/*=======  main-footer  =======*/

.main-footer {
	background-color: #000;
}

.main-footer .soc-icons-list {
	text-align: center;

	padding-top: 20px;
	margin-top: 0;
}

.main-footer .soc-icons-item a {
	color: #dcdcdc;
	font-size: 24px;
}

.site-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #a3a3a3;
	text-align: center;

	display: block;
	padding-bottom: 15px;
}


